/*  src/Title.css  */
.head {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding: 3em;
  margin-bottom: 2em;
  background-color: #111827;
  color: #fff;
  
}
.head h1{
  font-size: 48px;

}
